@import "tailwindcss";

@theme {
  --color-lightgray-500: #2E363D;
  --color-lightgray-900: #171A1C;
  --color-lightgray-300: #A3ABBA;
  --color-greenforbuttons-500: #44EB99;
  --color-darkgreen-800: #1d2633;
  --color-justwhite-500: #FFF;
}

* {
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: var(--color-lightgray-900);
  height: 100dvh;
}


