@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&display=swap');
@theme {
  --color-lightgray-500: #2E363D;
  --color-lightgray-900: #171A1C;
  --color-lightgray-300: #A3ABBA;
  --color-greenforbuttons-500: #44EB99;
  --color-darkgreen-800: #1d2633;
  --color-justwhite-500: #FFF;
}

* {
  font-family: 'Lexend', sans-serif;
}


